  greenlet @ git+https://github.com/mdboom/greenlet@82f9a8869d88616decb777bc6afae3a751a4a9c0
  # build
  cmake
  ruamel.yaml
  # lint
  pre-commit
  # testing
  build==0.7.0
  sphinx-click
  hypothesis
  pytest
  pytest-asyncio
  pytest-cov
  pytest-httpserver
  pytest-benchmark
  pytest-pyodide==0.52.1
